version: '3.8'

x-airflow-common:
  &airflow-common
  build:
    context: .
    dockerfile: Dockerfile
  environment:
    &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
    AIRFLOW__CORE__FERNET_KEY: ''
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session'
    AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK: 'true'
    AIRFLOW__WEBSERVER__BASE_URL: 'https://airflow.portal.getzingle.com'
    # Snowflake credentials from profiles.yml
    SNOWFLAKE_ACCOUNT: "KT95190.ap-south-1.aws"
    SNOWFLAKE_USER: "DBT_USER"
    SNOWFLAKE_PASSWORD: "DbtUser#2026!Secure"
    SNOWFLAKE_ROLE: "DBT_ROLE"
    SNOWFLAKE_WAREHOUSE: "DBT_WH"
    SNOWFLAKE_DATABASE: "ANALYTICS"
    SNOWFLAKE_SCHEMA: "STAGING"
  volumes:
    - ./dags:/usr/local/airflow/dags
    - ./dbt:/usr/local/airflow/dbt
    - ./logs:/usr/local/airflow/logs
    - ./plugins:/usr/local/airflow/plugins
  user: "${AIRFLOW_UID:-50000}:0"
  depends_on:
    &airflow-common-depends-on
    postgres:
      condition: service_healthy

services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 10s
      retries: 5
      timeout: 5s
    restart: always

  airflow-webserver:
    <<: *airflow-common
    command: airflow webserver
    ports:
      - "127.0.0.1:8080:8080"
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-scheduler:
    <<: *airflow-common
    command: airflow scheduler
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-init:
    <<: *airflow-common
    entrypoint: /bin/bash
    command:
      - -c
      - |
        if [[ -z "$${AIRFLOW_UID}" ]]; then
          echo
          echo -e "\033[1;33mWARNING!!!: AIRFLOW_UID not set!\033[0m"
          echo "If you are on Linux, you SHOULD follow the instructions below to set "
          echo "AIRFLOW_UID environment variable, otherwise files will be owned by root."
          echo "For other operating systems you can safely ignore this warning"
          echo
        fi
        mkdir -p /usr/local/airflow/logs /usr/local/airflow/dags /usr/local/airflow/plugins /usr/local/airflow/dbt
        chown -R "$${AIRFLOW_UID:-50000}:0" /usr/local/airflow/{logs,dags,plugins,dbt}
        chmod -R 775 /usr/local/airflow/dbt
        airflow db migrate
        airflow users create \
          --username airflow \
          --firstname Airflow \
          --lastname Admin \
          --role Admin \
          --email admin@example.com \
          --password airflow || true
    environment:
      <<: *airflow-common-env
    user: "0:0"
    volumes:
      - ./dags:/usr/local/airflow/dags
      - ./dbt:/usr/local/airflow/dbt
      - ./logs:/usr/local/airflow/logs
      - ./plugins:/usr/local/airflow/plugins

volumes:
  postgres-db-volume:
